<form class="login-form" method="POST" accept-charset="utf-8" action="/Locals/local">
<ul>
<li><label for="username"><%= __('User name') %></label>
<li><label for="Email">email</label>
<li><label for="Mobile">Phone number</label>
<li><label for="Place">Place</label>
<li>
<button>Submit</button></li>
</ul>
</form>
